/* Avoid page breaks inside the most common attributes, especially for exports (i.e. PDF) */
td,
h1,
h2,
h3,
h4,
h5,
h6,
div,
table,
thead,
tr,
th,
pre,
code,
tbody,
tfoot,
td,
p,
ul,
ol,
li,
details,
summary,
form {
    page-break-inside: avoid;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

/* Links */
a {
    page-break-inside: avoid;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #f73f52;
}

img {
    width: auto;
    height: auto;
}

.alert {
    padding: 20px;
    background-color: #2196f3;
    color: white;
    margin-bottom: 15px;
}

.alertwarning {
    padding: 20px;
    background-color: #ff9800;
    color: white;
    margin-bottom: 15px;
}

.table {
    font-size: 12px;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, sans-serif;
}

.table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #ccc;
}

.table th {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    position: relative;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: auto;
    margin: auto;
}

.menuitem {
    width: auto;
    text-align: center;
}

.logo {
    width: 30%;
    text-align: center;
}

/* Tutorial CSS starts here */

:root {
    --bg: white;
    --text: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --text: white;
    }
}

#color-mode:checked ~ * {
    --bg: black;
    --text: white;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked ~ * {
        --bg: white;
        --text: black;
    }
}

.color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
}

.light-mode-hide {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .dark-mode-hide {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-hide {
        display: initial;
    }
}

* {
    box-sizing: border-box;
    max-width: 35rem;
}

html,
body,
div {
    max-width: none;
}

html,
body {
    padding: 0;
    margin: 0;
}

pre code {
    border: 1px solid rgb(11, 0, 168);
    display: block;
    padding: 10px;
}

/* Tutorial css ends here, the rest is extra styles for prettiness */
@charset "UTF-8";

:root {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

